<div class="footer">
    <div class="top">
        <div>
            <h3>À propos</h3>
            <p>Leader dans la revente de jeu dématérialisé, nous nous surpassons pour offrir des jeux à prix imbattables<br>
            Passez un bon moment sur Mist© ! 🎮</p>
        </div>
        <div>
            <h3>Conditions</h3>
            <p>Politique de confidentialité<br>
            Remerciements<br>
            Déclaration des cookies</p>
        </div>
    </div>
    <div class="bottom">
        <div>
            <h5>Mist</h5>
            <p>Copyright © 2023 Mist - All rights reserved</p>
        </div>
        <div>
            <p>Français | 🇪🇺</p>
        </div>
    </div>
</div>