@use '../../styles/global' as c;
@use '../../styles/font' as f;
.details{
    margin-top: 170px;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.promoImg{
    background: url('../../assets/deal.png');
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150;
    right: -20;
    background-position: center;
    background-size: contain;
}
li{
    list-style-type: circle;
}
.affiche{
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.currentPrice{
    text-decoration: line-through;
    font-size: 3rem;
    font-weight: bold;
    color: c.$violet-blue;
}
.nopromo{
    font-size: 3rem;
    font-weight: bold;
    color: c.$violet-blue;
}
.soldePrice{
    font-size: 2rem;
    font-weight: bold;
    color: c.$pink;
}
.promotion{
    font-size: 2rem;
    font-weight: bold;
}
.img{
    width: 350px;
    height: 350px;
    box-shadow: 15px 15px 15px black;
    border-radius: 10%;
}
.listItems{
    & > li{
        list-style: none;
        margin-bottom: 12px;
        & :first-child {
            font-weight: bold;
        }
    }
    font: 1.2rem f.$soft-font2;
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 290px;
    width: 350px;
    margin-top: 28px;
    border-radius: 15px;
    background-color: rgb(51,51,51, 0.9);
    & > h2{
        text-align: center;
        background-color: c.$dark-grey;
        width: 100%;
        padding: 14px;
        border-radius: 15px 15px 0 0;
    }
    & > div{
        display: flex;
        flex-direction: column;
    }
}
.buttonbuy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color : rgb(141, 44, 221);
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 0px;
    padding: 30px;
    bottom: -50px;
    height: 60px;
    left: 0;
    transition-duration: 0.3s;
    &:hover{
        background-color: #F40099;
        box-shadow: 0 0px 15px c.$violet-blue;
        color: white;
    }
}
.infoGame{
    display: flex;
    flex-direction: column;
    background-color: c.$dark-grey;
    width: 90%;
    margin: 3rem auto 0 auto;
    border-radius: 15px;
    color: white;
    & > .infowrap {
        display: flex;
        justify-content: space-around;
        & > .infopt1 .infopt2{
            width: 40%;
        }
    }
}
.title{
    margin: 2rem auto !important;
}
.title-90{
    width: 90% !important;
}
.gameBg {
    width: 100vw;
    background-size: cover;
    background-position: center;
    height: 30vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
    background-size: cover;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;
  }
.video{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    padding: 0 5rem;
    margin: 0 auto;
    & > .h-frame{
        position: relative;
        width: 100%;
        & > iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.tabcontent{
    display: none;
    margin-left: 10%;
}
.filterb{
    filter: brightness(50%);
    transition: all 0.5s ease;
}
.tab{
    width: 90%;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 1rem auto;
    & > .tablinks{
        border: 0;
        width: 50%;
        background-color: c.$dark-grey;
        font-family: f.$game-font;
        color: white;
        transition: all 0.5s ease;
    }
    & :first-child{
        transform: translateX(5%);
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        background-color: c.$pink;  
        border-radius: 15px 0 0 15px;
        z-index: 1;         
    }
    & :last-child{
        transform: translateX(-5%);
        background-color: c.$violet-blue;  
        border-radius: 0 15px 15px 0;
    }
}
.rateUserContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    & > .rateUser{
        flex-basis: 46%;
        flex-grow: 0.5;
        background-color: c.$light-grey;
        border-radius: 15px;
        padding: 5px;
        margin: 2%;
        & > h3 {
            text-align: center;
        }
        & .commentUser {
            text-align: start;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
        }
        & .starscontainer{
            margin: 10px 0;
        }
    } 
}

.starscontainer{
    display: flex;
    justify-content: center;
    & > img {
        width: 60px;
    }
}
@media screen and (max-width:600px) {
    .details{
        flex-direction: column;
        align-items: center;
    }
    .gameBg {
        -webkit-clip-path: none;
                clip-path: none;
        background-size: cover;
        width: 100%;
        height: 500px;
        
    }
    .img{
        width: 250px;
        height: 250px;
    }
    .left{
        margin-top: 80px;
    }
    .rateUserContainer{
        & > .rateUser{
            flex-basis: 90%;
            margin: 2% 10%;
        }
    }
    
}
@media screen and (max-width:900px){
    .infoGame > .infowrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        & > .infopt1{
            width: 100%;
        }
    }
    .video{
        height: 300px;
        width: 90%;
        padding: 0 1rem;
    }
    .title{
        width: 90% !important;
    }
    .infopt2{
        width: 100%;
    }
    .tabcontent{
        margin-left: 0;
    }
}
@media screen and (min-width:1100px) {
    .video{
        width: 1000px;
    }
}
